.ios6switch{
	position:relative;
	overflow:hidden;
	display:inline-block;
	cursor:default;
}
.ios6switch *{
	-moz-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.ios6switch .ios6switch_draglayer{
	position:absolute;
	height:100%;
	width:100%;
}
.ios6switch .ios6switch_switch_off{
	position:absolute;
	top:0px;
	height:100%;
	width:100%;
	text-align:center;
}
.ios6switch .ios6switch_switch_on{
	position:absolute;
	top:0px;
	height:100%;
	width:100%;
	text-align:center;
}
.ios6switch .ios6switch_thumb{
	position:absolute;
	left:0px;
	top:0px;
	z-index:2;
}