<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jc.cz_index.dao.ICardDao">
	
	<resultMap id="resultMap" type="com.jc.cz_index.model.Card">
            <result property="id" column="id" />
            <result property="mpiId" column="mpi_id" />
            <result property="personId" column="person_id" />
            <result property="cardTypeCode" column="card_type_code" />
            <result property="cardNo" column="card_no" />
            <result property="cardCode" column="card_code" />
            <result property="createUnit" column="create_unit" />
            <result property="validTime" column="valid_time" />
            <result property="status" column="status" />
            <result property="delFalg" column="del_falg" />
            <result property="deleteor" column="deleteor" />
            <result property="deleteDate" column="delete_date" />
            <result property="creator" column="creator" />
            <result property="updator" column="updator" />
            <result property="createDate" column="create_date" />
            <result property="updateDate" column="update_date" />
            <result property="lastModifyUnit" column="last_modify_unit" />

	</resultMap>
	
	<resultMap id="resultDetailMap" type="com.jc.cz_index.model.Card">
            <result property="id" column="id" />
            <result property="mpiId" column="mpi_id" />
            <result property="personId" column="person_id" />
            <result property="cardTypeCode" column="card_type_code" />
            <result property="cardNo" column="card_no" />
            <result property="cardCode" column="card_code" />
            <result property="createUnit" column="create_unit" />
            <result property="validTime" column="valid_time" />
            <result property="status" column="status" />
            <result property="delFalg" column="del_falg" />
            <result property="deleteor" column="deleteor" />
            <result property="deleteDate" column="delete_date" />
            <result property="creator" column="creator" />
            <result property="updator" column="updator" />
            <result property="createDate" column="create_date" />
            <result property="updateDate" column="update_date" />
			<result property="lastModifyUnit" column="last_modify_unit" />

			<association property="creatorUser" column="creator" select="com.jc.cz_index.dao.ISystemUserDao.getBaseObject">
			</association>
			<association property="updatorUser" column="updator" select="com.jc.cz_index.dao.ISystemUserDao.getBaseObject">
			</association>
	  
	</resultMap>
	
	<sql id="baseCol">
        id,mpi_id,person_id,card_type_code,card_no,card_code,create_unit,valid_time,status,del_falg,deleteor,delete_date,creator,updator,create_date,update_date,last_modify_unit

	</sql>

	<sql id="pageSql">
		<if test="__start !=null and __size!=null"><![CDATA[ limit #{__start},#{__size} ]]></if>
	</sql>

	<sql id="whereSql">
		<trim prefix="WHERE" prefixOverrides="and |or ">
            <if test="id != null"><![CDATA[ and id = #{id} ]]></if>
            <if test="id_r_min != null"><![CDATA[ and id >= #{id_r_min} and id <= #{id_r_max} ]]></if>
            <if test="id_enum != null">
                <![CDATA[ and id in ]]>
                <foreach collection="id_enum" item="value" open="(" separator="," close=")">
                    <![CDATA[ #{value} ]]>
                </foreach>
            </if>
            <if test="mpiId != null"><![CDATA[ and  mpi_id = #{mpiId:VARCHAR}]]></if>
            <if test="mpiId_r_min != null"><![CDATA[ and mpi_id >= #{mpiId_r_min} and mpi_id <= #{mpiId_r_max} ]]></if>
            <if test="mpiId_enum != null">
                <![CDATA[ and mpi_id in ]]>
                <foreach collection="mpiId_enum" item="value" open="(" separator="," close=")">
                    <![CDATA[ #{value} ]]>
                </foreach>
            </if>
            <if test="personId != null"><![CDATA[ and  person_id = #{personId:NUMERIC}]]></if>
            <if test="personId_r_min != null"><![CDATA[ and person_id >= #{personId_r_min} and person_id <= #{personId_r_max} ]]></if>
            <if test="personId_enum != null">
                <![CDATA[ and person_id in ]]>
                <foreach collection="personId_enum" item="value" open="(" separator="," close=")">
                    <![CDATA[ #{value} ]]>
                </foreach>
            </if>
            <if test="cardTypeCode != null"><![CDATA[ and  card_type_code = #{cardTypeCode:VARCHAR}]]></if>
            <if test="cardTypeCode_r_min != null"><![CDATA[ and card_type_code >= #{cardTypeCode_r_min} and card_type_code <= #{cardTypeCode_r_max} ]]></if>
            <if test="cardTypeCode_enum != null">
                <![CDATA[ and card_type_code in ]]>
                <foreach collection="cardTypeCode_enum" item="value" open="(" separator="," close=")">
                    <![CDATA[ #{value} ]]>
                </foreach>
            </if>
            <if test="cardNo != null"><![CDATA[ and  card_no = #{cardNo:VARCHAR}]]></if>
            <if test="cardNo_r_min != null"><![CDATA[ and card_no >= #{cardNo_r_min} and card_no <= #{cardNo_r_max} ]]></if>
            <if test="cardNo_enum != null">
                <![CDATA[ and card_no in ]]>
                <foreach collection="cardNo_enum" item="value" open="(" separator="," close=")">
                    <![CDATA[ #{value} ]]>
                </foreach>
            </if>
            <if test="cardCode != null"><![CDATA[ and  card_code = #{cardCode:VARCHAR}]]></if>
            <if test="cardCode_r_min != null"><![CDATA[ and card_code >= #{cardCode_r_min} and card_code <= #{cardCode_r_max} ]]></if>
            <if test="cardCode_enum != null">
                <![CDATA[ and card_code in ]]>
                <foreach collection="cardCode_enum" item="value" open="(" separator="," close=")">
                    <![CDATA[ #{value} ]]>
                </foreach>
            </if>
            <if test="createUnit != null"><![CDATA[ and  create_unit = #{createUnit:VARCHAR}]]></if>
            <if test="createUnit_r_min != null"><![CDATA[ and create_unit >= #{createUnit_r_min} and create_unit <= #{createUnit_r_max} ]]></if>
            <if test="createUnit_enum != null">
                <![CDATA[ and create_unit in ]]>
                <foreach collection="createUnit_enum" item="value" open="(" separator="," close=")">
                    <![CDATA[ #{value} ]]>
                </foreach>
            </if>
            <if test="validTime != null"><![CDATA[ and  valid_time = #{validTime:DATETIME}]]></if>
            <if test="validTime_r_min != null"><![CDATA[ and valid_time >= #{validTime_r_min} and valid_time <= #{validTime_r_max} ]]></if>
            <if test="validTime_enum != null">
                <![CDATA[ and valid_time in ]]>
                <foreach collection="validTime_enum" item="value" open="(" separator="," close=")">
                    <![CDATA[ #{value} ]]>
                </foreach>
            </if>
            <if test="status != null"><![CDATA[ and  status = #{status:NUMERIC}]]></if>
            <if test="status_r_min != null"><![CDATA[ and status >= #{status_r_min} and status <= #{status_r_max} ]]></if>
            <if test="status_enum != null">
                <![CDATA[ and status in ]]>
                <foreach collection="status_enum" item="value" open="(" separator="," close=")">
                    <![CDATA[ #{value} ]]>
                </foreach>
            </if>
            <if test="delFalg != null"><![CDATA[ and  del_falg = #{delFalg:NUMERIC}]]></if>
            <if test="delFalg_r_min != null"><![CDATA[ and del_falg >= #{delFalg_r_min} and del_falg <= #{delFalg_r_max} ]]></if>
            <if test="delFalg_enum != null">
                <![CDATA[ and del_falg in ]]>
                <foreach collection="delFalg_enum" item="value" open="(" separator="," close=")">
                    <![CDATA[ #{value} ]]>
                </foreach>
            </if>
            <if test="deleteor != null"><![CDATA[ and  deleteor = #{deleteor:NUMERIC}]]></if>
            <if test="deleteor_r_min != null"><![CDATA[ and deleteor >= #{deleteor_r_min} and deleteor <= #{deleteor_r_max} ]]></if>
            <if test="deleteor_enum != null">
                <![CDATA[ and deleteor in ]]>
                <foreach collection="deleteor_enum" item="value" open="(" separator="," close=")">
                    <![CDATA[ #{value} ]]>
                </foreach>
            </if>
            <if test="deleteDate != null"><![CDATA[ and  delete_date = #{deleteDate:DATETIME}]]></if>
            <if test="deleteDate_r_min != null"><![CDATA[ and delete_date >= #{deleteDate_r_min} and delete_date <= #{deleteDate_r_max} ]]></if>
            <if test="deleteDate_enum != null">
                <![CDATA[ and delete_date in ]]>
                <foreach collection="deleteDate_enum" item="value" open="(" separator="," close=")">
                    <![CDATA[ #{value} ]]>
                </foreach>
            </if>
            <if test="creator != null"><![CDATA[ and  creator = #{creator:NUMERIC}]]></if>
            <if test="creator_r_min != null"><![CDATA[ and creator >= #{creator_r_min} and creator <= #{creator_r_max} ]]></if>
            <if test="creator_enum != null">
                <![CDATA[ and creator in ]]>
                <foreach collection="creator_enum" item="value" open="(" separator="," close=")">
                    <![CDATA[ #{value} ]]>
                </foreach>
            </if>
            <if test="updator != null"><![CDATA[ and  updator = #{updator:NUMERIC}]]></if>
            <if test="updator_r_min != null"><![CDATA[ and updator >= #{updator_r_min} and updator <= #{updator_r_max} ]]></if>
            <if test="updator_enum != null">
                <![CDATA[ and updator in ]]>
                <foreach collection="updator_enum" item="value" open="(" separator="," close=")">
                    <![CDATA[ #{value} ]]>
                </foreach>
            </if>
            <if test="createDate != null"><![CDATA[ and  create_date = #{createDate:DATETIME}]]></if>
            <if test="createDate_r_min != null"><![CDATA[ and create_date >= #{createDate_r_min} and create_date <= #{createDate_r_max} ]]></if>
            <if test="createDate_enum != null">
                <![CDATA[ and create_date in ]]>
                <foreach collection="createDate_enum" item="value" open="(" separator="," close=")">
                    <![CDATA[ #{value} ]]>
                </foreach>
            </if>
            <if test="updateDate != null"><![CDATA[ and  update_date = #{updateDate:DATETIME}]]></if>
            <if test="updateDate_r_min != null"><![CDATA[ and update_date >= #{updateDate_r_min} and update_date <= #{updateDate_r_max} ]]></if>
            <if test="updateDate_enum != null">
                <![CDATA[ and update_date in ]]>
                <foreach collection="updateDate_enum" item="value" open="(" separator="," close=")">
                    <![CDATA[ #{value} ]]>
                </foreach>
            </if>
			<if test="lastModifyUnit != null"><![CDATA[ and  last_modify_unit = #{lastModifyUnit:VARCHAR}]]></if>
            <if test="lastModifyUnit_r_min != null"><![CDATA[ and last_modify_unit >= #{lastModifyUnit_r_min} and last_modify_unit <= #{lastModifyUnit_r_max} ]]></if>
            <if test="lastModifyUnit_enum != null">
                <![CDATA[ and last_modify_unit in ]]>
                <foreach collection="lastModifyUnit_enum" item="value" open="(" separator="," close=")">
                    <![CDATA[ #{value} ]]>
                </foreach>
            </if>
			
		</trim>
	</sql>

	<sql id="orderSql">
		<trim prefix="ORDER BY" suffixOverrides=",">
            <if test="_orderBy == 'id_desc'"><![CDATA[ id desc, ]]></if>
            <if test="_orderBy == 'id_asc'"><![CDATA[ id, ]]></if>
            <if test="_orderBy == 'mpiId_desc'" ><![CDATA[ mpi_id desc, ]]></if>
            <if test="_orderBy == 'mpiId_asc'" ><![CDATA[ mpi_id, ]]></if>
            <if test="_orderBy == 'personId_desc'" ><![CDATA[ person_id desc, ]]></if>
            <if test="_orderBy == 'personId_asc'" ><![CDATA[ person_id, ]]></if>
            <if test="_orderBy == 'cardTypeCode_desc'" ><![CDATA[ card_type_code desc, ]]></if>
            <if test="_orderBy == 'cardTypeCode_asc'" ><![CDATA[ card_type_code, ]]></if>
            <if test="_orderBy == 'cardNo_desc'" ><![CDATA[ card_no desc, ]]></if>
            <if test="_orderBy == 'cardNo_asc'" ><![CDATA[ card_no, ]]></if>
            <if test="_orderBy == 'cardCode_desc'" ><![CDATA[ card_code desc, ]]></if>
            <if test="_orderBy == 'cardCode_asc'" ><![CDATA[ card_code, ]]></if>
            <if test="_orderBy == 'createUnit_desc'" ><![CDATA[ create_unit desc, ]]></if>
            <if test="_orderBy == 'createUnit_asc'" ><![CDATA[ create_unit, ]]></if>
            <if test="_orderBy == 'validTime_desc'" ><![CDATA[ valid_time desc, ]]></if>
            <if test="_orderBy == 'validTime_asc'" ><![CDATA[ valid_time, ]]></if>
            <if test="_orderBy == 'status_desc'" ><![CDATA[ status desc, ]]></if>
            <if test="_orderBy == 'status_asc'" ><![CDATA[ status, ]]></if>
            <if test="_orderBy == 'delFalg_desc'" ><![CDATA[ del_falg desc, ]]></if>
            <if test="_orderBy == 'delFalg_asc'" ><![CDATA[ del_falg, ]]></if>
            <if test="_orderBy == 'deleteor_desc'" ><![CDATA[ deleteor desc, ]]></if>
            <if test="_orderBy == 'deleteor_asc'" ><![CDATA[ deleteor, ]]></if>
            <if test="_orderBy == 'deleteDate_desc'" ><![CDATA[ delete_date desc, ]]></if>
            <if test="_orderBy == 'deleteDate_asc'" ><![CDATA[ delete_date, ]]></if>
            <if test="_orderBy == 'creator_desc'" ><![CDATA[ creator desc, ]]></if>
            <if test="_orderBy == 'creator_asc'" ><![CDATA[ creator, ]]></if>
            <if test="_orderBy == 'updator_desc'" ><![CDATA[ updator desc, ]]></if>
            <if test="_orderBy == 'updator_asc'" ><![CDATA[ updator, ]]></if>
            <if test="_orderBy == 'createDate_desc'" ><![CDATA[ create_date desc, ]]></if>
            <if test="_orderBy == 'createDate_asc'" ><![CDATA[ create_date, ]]></if>
            <if test="_orderBy == 'updateDate_desc'" ><![CDATA[ update_date desc, ]]></if>
            <if test="_orderBy == 'updateDate_asc'" ><![CDATA[ update_date, ]]></if>
            <if test="_orderBy == 'lastModifyUnit_desc'" ><![CDATA[ last_modify_unit desc, ]]></if>
            <if test="_orderBy == 'lastModifyUnit_asc'" ><![CDATA[ last_modify_unit, ]]></if>
            <if test="_orderBy_enum != null">
                <foreach collection="_orderBy_enum" item="orderItem" open="" separator="," close="">
                    <if test="orderItem == 'id_desc'"><![CDATA[ id desc ]]></if>
                    <if test="orderItem == 'id_asc'"><![CDATA[ id ]]></if>
                    <if test="orderItem == 'mpiId_desc'" ><![CDATA[ mpi_id desc ]]></if>
                    <if test="orderItem == 'mpiId_asc'" ><![CDATA[ mpi_id ]]></if>
                    <if test="orderItem == 'personId_desc'" ><![CDATA[ person_id desc ]]></if>
                    <if test="orderItem == 'personId_asc'" ><![CDATA[ person_id ]]></if>
                    <if test="orderItem == 'cardTypeCode_desc'" ><![CDATA[ card_type_code desc ]]></if>
                    <if test="orderItem == 'cardTypeCode_asc'" ><![CDATA[ card_type_code ]]></if>
                    <if test="orderItem == 'cardNo_desc'" ><![CDATA[ card_no desc ]]></if>
                    <if test="orderItem == 'cardNo_asc'" ><![CDATA[ card_no ]]></if>
                    <if test="orderItem == 'cardCode_desc'" ><![CDATA[ card_code desc ]]></if>
                    <if test="orderItem == 'cardCode_asc'" ><![CDATA[ card_code ]]></if>
                    <if test="orderItem == 'createUnit_desc'" ><![CDATA[ create_unit desc ]]></if>
                    <if test="orderItem == 'createUnit_asc'" ><![CDATA[ create_unit ]]></if>
                    <if test="orderItem == 'validTime_desc'" ><![CDATA[ valid_time desc ]]></if>
                    <if test="orderItem == 'validTime_asc'" ><![CDATA[ valid_time ]]></if>
                    <if test="orderItem == 'status_desc'" ><![CDATA[ status desc ]]></if>
                    <if test="orderItem == 'status_asc'" ><![CDATA[ status ]]></if>
                    <if test="orderItem == 'delFalg_desc'" ><![CDATA[ del_falg desc ]]></if>
                    <if test="orderItem == 'delFalg_asc'" ><![CDATA[ del_falg ]]></if>
                    <if test="orderItem == 'deleteor_desc'" ><![CDATA[ deleteor desc ]]></if>
                    <if test="orderItem == 'deleteor_asc'" ><![CDATA[ deleteor ]]></if>
                    <if test="orderItem == 'deleteDate_desc'" ><![CDATA[ delete_date desc ]]></if>
                    <if test="orderItem == 'deleteDate_asc'" ><![CDATA[ delete_date ]]></if>
                    <if test="orderItem == 'creator_desc'" ><![CDATA[ creator desc ]]></if>
                    <if test="orderItem == 'creator_asc'" ><![CDATA[ creator ]]></if>
                    <if test="orderItem == 'updator_desc'" ><![CDATA[ updator desc ]]></if>
                    <if test="orderItem == 'updator_asc'" ><![CDATA[ updator ]]></if>
                    <if test="orderItem == 'createDate_desc'" ><![CDATA[ create_date desc ]]></if>
                    <if test="orderItem == 'createDate_asc'" ><![CDATA[ create_date ]]></if>
                    <if test="orderItem == 'updateDate_desc'" ><![CDATA[ update_date desc ]]></if>
                    <if test="orderItem == 'updateDate_asc'" ><![CDATA[ update_date ]]></if>
                    <if test="orderItem == 'lastModifyUnit_desc'" ><![CDATA[ last_modify_unit desc ]]></if>
                    <if test="orderItem == 'lastModifyUnit_asc'" ><![CDATA[ last_modify_unit ]]></if>
                </foreach>
            </if>

		</trim>
	</sql>

	<sql id="updateSetSql">
		<trim prefix="set" prefixOverrides=",">
            <if test="mpiId != null" ><![CDATA[ and  mpi_id = #{mpiId}]]></if>
            <if test="personId != null" ><![CDATA[ and  person_id = #{personId}]]></if>
            <if test="cardTypeCode != null" ><![CDATA[ and  card_type_code = #{cardTypeCode}]]></if>
            <if test="cardNo != null" ><![CDATA[ and  card_no = #{cardNo}]]></if>
            <if test="cardCode != null" ><![CDATA[ and  card_code = #{cardCode}]]></if>
            <if test="createUnit != null" ><![CDATA[ and  create_unit = #{createUnit}]]></if>
            <if test="validTime != null" ><![CDATA[ and  valid_time = #{validTime}]]></if>
            <if test="status != null" ><![CDATA[ and  status = #{status}]]></if>
            <if test="delFalg != null" ><![CDATA[ and  del_falg = #{delFalg}]]></if>
            <if test="deleteor != null" ><![CDATA[ and  deleteor = #{deleteor}]]></if>
            <if test="deleteDate != null" ><![CDATA[ and  delete_date = #{deleteDate}]]></if>
            <if test="creator != null" ><![CDATA[ and  creator = #{creator}]]></if>
            <if test="updator != null" ><![CDATA[ and  updator = #{updator}]]></if>
            <if test="createDate != null" ><![CDATA[ and  create_date = #{createDate}]]></if>
            <if test="updateDate != null" ><![CDATA[ and  update_date = #{updateDate}]]></if>
            <if test="lastModifyUnit != null" ><![CDATA[ and  last_modify_unit = #{lastModifyUnit}]]></if>

		</trim>
	</sql>	

	<insert id="insertObject" parameterType="com.jc.cz_index.model.Card">
		<selectKey resultType="Long" keyProperty="id" order="AFTER">
		 SELECT	LAST_INSERT_ID()
	 	</selectKey>
	 	insert into CARD( id,mpi_id,person_id,card_type_code,card_no,card_code,create_unit,valid_time,status,del_falg,deleteor,delete_date,creator,updator,create_date,update_date,last_modify_unit ) values (#{id},#{mpiId},#{personId},#{cardTypeCode},#{cardNo},#{cardCode},#{createUnit},#{validTime},#{status},#{delFalg},#{deleteor},#{deleteDate},#{creator},#{updator},#{createDate},#{updateDate},#{lastModifyUnit} )
	</insert>

	<update id="updateObject" parameterType="com.jc.cz_index.model.Card">
		update CARD set mpi_id=#{mpiId},person_id=#{personId},card_type_code=#{cardTypeCode},card_no=#{cardNo},card_code=#{cardCode},create_unit=#{createUnit},valid_time=#{validTime},status=#{status},del_falg=#{delFalg},deleteor=#{deleteor},delete_date=#{deleteDate},creator=#{creator},updator=#{updator},create_date=#{createDate},update_date=#{updateDate},last_modify_unit=#{lastModifyUnit} where id=#{id}
	</update>
	
	<update id="updateObjectByFields" parameterType="com.jc.cz_index.dao.QueryParams">
		UPDATE CARD 
		<include refid="updateSetSql" />
		where id=#{id};
  	</update> 
	
	<delete id="deleteObject" parameterType="long">
		DELETE FROM CARD WHERE id = #{id}
  	</delete>

	<delete id="deleteObjectByWhere" parameterType="com.jc.cz_index.dao.QueryParams">
		DELETE FROM CARD
		<include refid="whereSql" />
	</delete>

	<select id="getBaseObject" parameterType="long" resultMap="resultMap">
		select 
		<include refid="baseCol" />
		from CARD where id=#{id};
	</select>

	<select id="getDetailObject" parameterType="long" resultMap="resultDetailMap">
		select * from CARD where id=#{id};
	</select>
	
	<select id="queryCount" parameterType="com.jc.cz_index.dao.QueryParams" resultType="int">
		select count(*) from CARD
		  <include refid="whereSql" />
	</select>
	
	<select id="queryBaseList" parameterType="com.jc.cz_index.dao.QueryParams" resultMap="resultMap">
		select 
		<include refid="baseCol" />
		from CARD
			<include refid="whereSql" />
		  <include refid="orderSql" />
		<include refid="pageSql" />
	</select>

	<select id="queryDetailList" parameterType="com.jc.cz_index.dao.QueryParams" resultMap="resultDetailMap">
		select * from CARD
			<include refid="whereSql" />
		  <include refid="orderSql" />
		<include refid="pageSql" />
	</select>
	
	<insert id="insertList" parameterType="java.util.List">
		insert into
        CARD (mpi_id,person_id,card_type_code,card_no,card_code,create_unit,valid_time,status,del_falg,deleteor,delete_date,creator,updator,create_date,update_date,last_modify_unit)
		values 
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.mpiId},#{item.personId},#{item.cardTypeCode},#{item.cardNo},#{item.cardCode},#{item.createUnit},#{item.validTime},#{item.status},#{item.delFalg},#{item.deleteor},#{item.deleteDate},#{item.creator},#{item.updator},#{item.createDate},#{item.updateDate},#{item.lastModifyUnit})
		</foreach>
	</insert>
	
	<delete id="deleteList" parameterType="java.util.List">
		delete from CARD WHERE id in
		<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
			#{item}
		</foreach>
  	</delete>
  	
  	<delete id="deleteListByPKs" parameterType="String">
		delete from CARD WHERE FIND_IN_SET(id,#{PKs})
  	</delete>
	
	<select id="getObjectList" parameterType="java.util.List" resultMap="resultMap">
		select 
		<include refid="baseCol" />
		from CARD WHERE id in
		<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
	
	<select id="getObjectListByPKs" parameterType="String" resultMap="resultMap">
		select 
		<include refid="baseCol" />
		from CARD WHERE FIND_IN_SET(id,#{PKs})
	</select>
	
	<select id="getObjectByMpiId" resultMap="resultMap">
		select * from CARD where mpi_id = #{mpiId} and del_falg = 0
	</select>



<!-- ================================================== -->
	<sql id="joinWhereSql">
		<trim prefix="WHERE" prefixOverrides="and |or ">
			<if test="personName != null"><![CDATA[ and p.person_Name = #{personName} ]]></if>
			<if test="idCard != null"><![CDATA[ and p.id_Card = #{idCard} ]]></if>
			<if test="mpiId != null"><![CDATA[ and c.mpi_id = #{mpiId} ]]></if>
			<if test="cardTypeCode!= null"><![CDATA[ and c.card_type_code = #{cardTypeCode} ]]></if>
			<if test="status!= null"><![CDATA[ and c.status = #{status} ]]></if>
			<if test="cardNo!= null"><![CDATA[ and c.card_no = #{cardNo} ]]></if>
			<if test="cardCode!= null"><![CDATA[ and c.card_code = #{cardCode} ]]></if>
			<if test="createUnit!= null"><![CDATA[ and c.create_unit = #{createUnit} ]]></if>
           	<if test="updateDate1!= null"><![CDATA[ and c.update_date >= #{updateDate1} ]]></if>
           	<if test="updateDate2!= null"><![CDATA[ and c.update_date <= #{updateDate2} ]]></if>
          	<if test="validTime1!= null"><![CDATA[ and c.valid_time >= #{validTime1} ]]></if>
           	<if test="validTime2!= null"><![CDATA[ and c.valid_time <= #{validTime2} ]]></if>
         	and  p.del_falg=0 
          </trim>
	</sql>
		<sql id="joinOrderSql">
		<trim prefix="ORDER BY" suffixOverrides=",">       
            <if test="_orderBy == 'createDate_desc'" ><![CDATA[ c.create_date desc, ]]></if>
            <if test="_orderBy == 'createDate_asc'" ><![CDATA[ c.create_date, ]]></if>
            <if test="_orderBy == 'updateDate_desc'" ><![CDATA[ c.update_date desc, ]]></if>
            <if test="_orderBy == 'updateDate_asc'" ><![CDATA[ c.update_date, ]]></if>
          </trim>
	</sql>
	
	<resultMap id="cardDtoMap" type="com.jc.cz_index.dto.card.CardDto">
            <result property="personId" column="person_id" />
            <result property="personName" column="person_name" />
            <result property="idCard" column="id_card" />
            <result property="mpiId" column="mpi_id" />
            <result property="cardId" column="card_id" />
            <result property="cardNo" column="card_no" />
           <result property="cardCode" column="card_code" />
           <result property="cardTypeCode" column="card_type_code" />
           <result property="status" column="status" />
            <result property="updateDate" column="update_date" />
            <result property="createDate" column="create_date" />
             <result property="validTime" column="valid_time" />
             <result property="lastModifyUnit" column="last_modify_unit" />
             <result property="createUnit" column="create_unit" />
	</resultMap>
	
	<select id="queryTableList" parameterType="com.jc.cz_index.dao.QueryParams" resultMap="cardDtoMap">
	select
 		p.id person_id,p.person_name,p.id_card, p.mpi_id,c.id card_id,c.create_unit, c.last_modify_unit,c.card_no,c.card_code,c.card_type_code,c.status,c.valid_time,c.update_date,c.create_date
	from  
		person p 
	left join 
 		 card  c 
 	on 
 	 c.person_id=p.id and c.del_falg=0	
 	 	<include refid="joinWhereSql" />
 	 	<include refid="joinOrderSql" />
		<include refid="pageSql" />
	</select>
	
	<select id="queryCountForTableList" parameterType="com.jc.cz_index.dao.QueryParams" resultType="int">
		select
			count(*)
		from  
			person p 
		left join 
 			card  c 
 		on 
 		 c.person_id=p.id  and c.del_falg=0	
		 <include refid="joinWhereSql" /> 
	</select>
	
<select id="getUnSyncObjectList" parameterType="java.lang.Long" resultMap="resultMap">
		SELECT
			c.*
		FROM
			card_sync_log csl
		LEFT JOIN card c ON  c.id = csl.card_id
		WHERE
			csl.sync_status = '0' AND csl.front_id = #{femId} AND c.id is not null
	</select>
	
	<insert id="insertOrUpdate" parameterType="com.jc.cz_index.model.Card">
    	insert into CARD( id,mpi_id,person_id,card_type_code,card_no,card_code,create_unit,valid_time,status,del_falg,deleteor,delete_date,creator,updator,create_date,update_date,last_modify_unit ) 
    	values (#{id},#{mpiId},#{personId},#{cardTypeCode},#{cardNo},#{cardCode},#{createUnit},#{validTime},#{status},#{delFalg},#{deleteor},#{deleteDate},#{creator},#{updator},#{createDate},#{updateDate},#{lastModifyUnit} )
	   	ON DUPLICATE KEY UPDATE
	    id = values(id),
	    mpi_id = values(mpi_id),
		person_id = values(person_id),
		card_type_code = values(card_type_code),
		card_no = values(card_no),
		card_code = values(card_code),
		create_unit = values(create_unit),
		valid_time = values(valid_time),
		status = values(status),
		del_falg = values(del_falg),
		deleteor = values(deleteor),
		delete_date = values(delete_date),
		creator = values(creator),
		updator = values(updator),
		create_date = values(create_date),
		update_date = values(update_date),
		last_modify_unit = values(last_modify_unit)
   </insert>
	
	
</mapper>

